.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  border: 2px solid #333;
  width: max-content;

}

.chessboard .square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #000;
  padding: 5px;
}

.chessboard .light {
  background-color: #f0d9b5;
}

.chessboard .dark {
  background-color: #b58863;
}