.gamepiece {
    width: 100%;
    padding: 0;
}

.gamepiece img {
    max-width: 100%;
    height: auto;
    display: block;
}

.gamepiece.inactive {
    pointer-events: none;
    opacity: 0.6;
}

.gamepiece.active:hover {
    transform: scale(1.1);
}
