.chessboard {
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    grid-template-columns: repeat(8, 12.5%);
    grid-auto-flow: row;
    border: 2px solid #333;
    width: max-content;

}

.chessboard .square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #000;
    padding: 5px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.chessboard .light {
    background-color: #f0d9b5;
}

.chessboard .dark {
    background-color: #b58863;
}