.chessboard {
    display: inline-grid;
    grid-template-rows: repeat(8, 12.5%);
    grid-template-columns: repeat(8, 12.5%);
    grid-auto-flow: row;
    border: 2px solid #333;
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    user-select: none;
    box-sizing: border-box;
}

.chessboard .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 5px;
}

.chessboard .square .placeholder {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.chessboard .light {
    background-color: #f0d9b5;
}

.chessboard .dark {
    background-color: #b58863;
}