.chessboard {
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: row;
    border: 2px solid #333;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    /*
    position: relative;
    height: 0;
    padding-bottom: 60%;
    */
    user-select: none;
    box-sizing: border-box;
}

.chessboard .square {
    background-color: #000;
    padding: 5px;
}

.chessboard .square .placeholder {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.chessboard .light {
    background-color: #f0d9b5;
}

.chessboard .dark {
    background-color: #b58863;
}

.chessboard .legal-move {
    /* grey dot in the centre indicating legal move */
    background-image: radial-gradient(circle at center, rgba(128, 128, 128, 0.5) 25%, transparent 25%);
    background-repeat: no-repeat;
    background-position: center;
}
